<div class="container">
    <div class="task">
        <div class="img img-1"></div>
        <h2>Angular list of profibited words</h2>
        <div class="box-bt">
            <button [routerLink]="[ '/works/cenzor' ]">details</button>
        </div>
    </div>
    <div class="task">
        <div class="img img-2"></div>
        <h2>Angular users list</h2>
        <div class="box-bt">
            <button [routerLink]="[ '/works/userlist' ]">details</button>
        </div>
    </div>
    <div class="task">
        <div class="img img-3"></div>
        <h2>Angular task list</h2>
        <div class="box-bt">
            <button [routerLink]="[ '/works/tasklist' ]">details</button>
        </div>
    </div>
</div>
